<!DOCTYPE html>
<html>
  <head>
    <!-- Adding Bootstrap style-->
    <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

    <!-- Bootstrap version longue-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google results-->
    <title>My Last Books - Remember what you read</title>
    <meta charset="UTF-8">
    <meta name="description" content="With My Last Books, you can organise what you have read in lists and share it!"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>

    <link href="/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- Facebook results-->
    <meta property="og:title" content="My Last Books - Remember what you read">
    <meta property="og:image" content="facebook-card.jpg">
    <meta property="og:description" content="With My Last Books, you can organise what you have read in lists and share it!">
    <meta property="og:site_name" content="My Last Books"/>

    <!-- Twitter results-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="#">
    <meta name="twitter:title" content="My Last Books - Remember what you read">
    <meta name="twitter:description" content="With My Last Books, you can organise what you have read in lists and share it!">
    <meta name="twitter:creator" content="#">
    <meta name="twitter:image:src" content="http://twitter-card.jpg">

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%# render 'shared/flashes' %>
    <%= yield %>
    <%# javascript_include_tag 'application' %>
    <%# render "shared/footer" %>
  </body>
</html>

